/* Sticky footer styles
-------------------------------------------------- */

html {
  height: 100%;
}

html body {
  height: 100%;
  overflow: hidden;
}

html body .container-fluid.body-content {
  position: absolute;
  top: 50px;
  bottom: 50px;
  padding: 10px;
  right: 0;
  left: 0;
  overflow-y: auto;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #4C4;
  height: 50px;
  -webkit-app-region: drag;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4C4;
  height: 70px;
}

.deleted-row {
  text-decoration: Line-Through;
}

.keyvisual {
  top: 100px;
  height: 200px;
}

.vocabulary-keyvisual {
  max-width: 734px;
  max-height: 200px;
  margin: 0 auto;
  display: inherit;
  /* keine Ahnung wieso das zentriert */
}